body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding-bottom: 20px;
}

header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

header h1 {
    color: #333333;
    text-align: center;
}

nav {
    background-color: #f8f8f8;
    border-bottom: 1px solid #cccccc;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #dddddd;
}

article {
    padding: 20px;
}

article h2 {
    color: #333333;
}

article p {
    line-height: 1.6;
}

/* Search Bar Styles */
form {
    text-align: center;
    margin-top: 10px;
}

input[type="text"] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 6px 10px;
    margin-top: 8px;
    margin-left: -5px;
    background-color: #f8f8f8;
    font-size: 17px;
    border: 1px solid #ccc;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    nav ul li {
        float: none;
        display: block;
        text-align: left;
    }

    nav ul li a {
        padding: 10px;
    }
}

.logo {
    float: left;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* You can adjust the size as needed */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

.logo {
    margin-left auto; /* Aligns logo to the left */
}


