a {
	color:maroon;
}

body{
    background-color: #9c7711; /* Цвет фона веб-страницы */
   } 
   h1 {
    background-color: RGB(237, 190, 59); /* Цвет фона под заголовком */
   }
   p {
    background-color: maroon; /* Цвет фона под текстом параграфа */
    color: white; /* Цвет текста */
   }

html {
  scroll-behavior: smooth;
}


